:root {
  font-size: 125%;
}

::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin            : 0;
}

::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin            : 0;
}

.ui-widget {
  font-family: Play, Helvetica, Arial, sans-serif;
  font-size  : 0.75rem;
}

.ui-button.activated {
  border     : 1px solid #acdd4a;
  background : #6eac2c url("scripts/external/jquery-ui-1.13.2.custom/images/ui-bg_gloss-wave_50_6eac2c_500x100.png") 50% 50% repeat-x;
  font-weight: normal;
  color      : #fff;
}

* {
  font-family: Play, Helvetica, Arial, sans-serif;
}

body * {
  max-width: 675px;
}

h1 {
  white-space  : nowrap;
  margin-bottom: 0.5rem;
}

h1 + h3 {
  font-style   : italic;
  margin-top   : 0;
  margin-bottom: 1.25rem;
  margin-left  : 0.5rem;
}

h2 {
  margin-bottom: 0.5rem;
}

.buttons {
  margin-left: 0.5rem;
}

fieldset {
  margin: 0 0 1rem;
}

.page_settings *,
.preferences * {
  font-size: 1rem;
}

.preferences fieldset,
.preferences fieldset > div {
  align-items   : flex-start;
  display       : flex;
  flex-direction: column;
}

.page_settings .spreadsheet {
  vertical-align: top;
  display       : inline-block;
}

.option h4,
.spreadsheet h4 {
  margin: 0;
}

.option span {
  font-size  : 0.8rem;
  margin-left: 0.3rem;
}

.option span span {
  font-style: italic;
}

.option input[type="number"],
.option > span + div,
.option > span + input,
.option > span + select {
  margin   : 0.3rem 0 0.3rem 0.5rem;
  font-size: 0.8rem;
}

.suboption {
  display       : flex;
  flex-direction: column;
  margin        : 0 0.5rem;
}

.suboption span {
  margin-top: 0.3rem;
}

.suboption input + label {
  margin-left: -1rem;
  font-size  : 0.8rem;
}

.multi-choice {
  display       : flex;
  flex-direction: column;
}

input[type="number"] {
  -moz-appearance: textfield;
  width          : 3rem;
  margin         : 0 0.25rem;
  font-size      : 1rem;
  text-align     : right;
  padding-right  : 0.75rem;
}

.spreadsheet input[type="number"] + label {
  margin-top    : 0.65rem;
  margin-left   : -1rem;
  margin-right  : 0.75rem;
  font-size     : 1rem;
  text-align    : left;
  vertical-align: bottom;
}

input[type="number"]:invalid,
input[type="number"]:invalid + label,
input[type="number"]:valid:not(.empty),
input[type="number"]:valid:not(.empty) + label {
  color: #FFF;
}

input[type="number"].empty,
input[type="number"].empty + label {
  color: #555;
}

input[type="number"]:invalid {
  background-color: #FF5050;
}

input[type="number"]:valid:not(.empty) {
  background-color: #6EAC2C;
}

input[type="number"].empty {
  background-color: #CCC;
}

.ui-sortable {
  padding: 0;
}

.ui-sortable-helper {
  background: #79C9EC;
}

.sheet {
  display: flex;
}

.order {
  font-size : 1.2rem;
  min-width : 1.5rem;
  text-align: right;
}

.sheet-name {
  font-size   : 1.2rem;
  font-variant: small-caps;
  padding-left: 0.2rem;
  white-space : nowrap;
}

.gid {
  font-size  : 1rem;
  font-style : italic;
  white-space: nowrap;
}