:root {
  font-size: 62.5%;
}

* {
  font-family: Play, Helvetica, Arial, sans-serif;
}

h1 {
  white-space: nowrap;
}

input[type="number"] {
  font-size: 1.4rem;
  width: 4.2rem;
  -moz-appearance: textfield;
  padding: 0 0;
  margin: 0 0.5rem;
}

input:invalid {
  background-color: #FF5050;
  color: #FFF;
}

input:valid:not(.empty) {
  background-color: #66BB66;
  color: #FFF;
}

input.empty {
  background-color: #CCC;
  color: #555;
}

.ui-button {
  align-self: center;
  display: inline-block;
  font-size: 1.2rem;
  white-space: nowrap;
}

.ui-sortable {
  padding: 0;
}

::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.default {
  white-space: nowrap;
}

.btnSet {
  align-self: center;
  display: flex;
  margin: 0.7rem 0.4rem;
}

.slideshow {
  display: none;
  max-width: 400px;
  min-width: 100px;
}

.sheet {
  display: flex;
}

.order {
  font-size: 1.6rem;
  min-width: 3.2rem;
  text-align: right;
}

.sheet-name {
  font-size: 1.6rem;
  font-variant: small-caps;
  padding-left: 0.2rem;
  white-space: nowrap;
}

.gid {
  font-size: 1.2rem;
  font-style: italic;
}
